body {
	margin: 0;
	padding: 0;
	color: #000000;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	background-color: #ffffff;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	white-space: nowrap;
}

.main-header {
	background: #f3f7f8 url(../img/header-middle.png) repeat;
	margin-bottom: 20px;
	padding-bottom: 60px;
}

.main-header-top {
	background-color: #293449;
	padding:0;
	margin-bottom: 46px;
}

.main-header-top-positioner {
	display: flex;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	display: inline-block;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	padding: 10px;
	color: #ffffff;
	background-color: #ee3643;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.btn:hover, 
.logo:hover {
	background-color: #ca2c37;
}

.btn:active,
.logo:active {
	background-color: #ba2732;
}

.cart-container {
	display: flex;
	width: 450px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.cart-container li {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.cart-container a {
	width: 150px;
	display: block;
	padding: 12px 0;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	border-radius: 0;
	background-color: #293449;
	box-sizing: border-box;
}

.cart-container .btn-cart {
	position: relative;
	padding-left: 20px;
}

.inner-page .btn-basket {
	background-color: #ca2c37;
}

.cart-container .btn-bookmark::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
	width: 16px;
	height: 16px;
	background: url("../img/icon-bookmark.svg") no-repeat;
	opacity: 0.3;	
}

.cart-container .btn-basket::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 115px;
	width: 16px;
	height: 16px;
	background: url("../img/icon-cart.svg") no-repeat;
	opacity: 0.3;	
}

.btn-cart:hover {
	background-color: #212a3a;
}

.btn-cart:active {
	background-color: #161d29;
	color: rgba(255,255,255, 0.6);
}

.cart-container .btn-basket:hover::before,
.cart-container .btn-bookmark:hover::before {
	opacity: 1;
}

.cart-container .btn-basket:active::before,
.cart-container .btn-bookmark:active::before {
	opacity: 0.5;
}

.logo {
	display: block;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 7px;
	width: 220px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	background-color: #ee3643;
	-webkit-box-shadow: 0px 5px 0px 0px #b52933; 
	box-shadow: 0px 5px 0px 0px #b52933;
}

.main-header form  {
	width: 270px;
	position: relative;
	margin: 0 auto;
	color: #ffffff;
}

.header-search input {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	height: 42px;
	padding-left: 46px;
	background-color:  #293449;
	color: #ffffff;
}

.header-search input[type="search"]::placeholder  {
	color: #ffffff;
}				

.header-search label {
	position: absolute;
	font-size: 0;
	width: 46px;
	height: 42px;
	cursor: pointer;
	background: url("../img/icon-search.svg") no-repeat;
	background-position: 16px 12px;
	top: 0;
	left: 0;
	border: none;
	opacity: 0.3;
}

.header-search input:hover {
	color: #ffffff;
	background-color: #212a3a;
}

.header-search input:hover ~ label{
	opacity: 1;
}

.header-search input:focus {
	color: #000000;
	background: url("../img/icon-search-red.svg") no-repeat;
	background-position: 16px 12px;
	top: 0;
	left: 0;
	background-color: #ffffff;
}

.header-search input:focus ~ label{
	background: url("../img/icon-search-red.svg") no-repeat;
	background-position: 16px 12px;
	opacity: 1;
}

.cart-container .btn-order {
	background-color: #63a63e;
	text-transform: none;
}

.cart-container .btn-order:hover {
	background-color: #5fbb2d;
}

.cart-container .btn-order:active {
	color: rgba(255,255,255, 0.51);
}

.middle-header {
	display: flex;
	align-items: flex-start;
	margin-bottom: 45px;
}

.main-header-contacts {
	margin-right: 70px;
}

.inner-page .main-header-contacts {
	margin-right: 50px;
}

.middle-header .shop-descr {
	width: 200px;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	margin: 0 70px 0 52px;
	padding: 0;
}

.main-header-contacts .main-header-adr {
	width: 270px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin: 0;
	text-align: center;
}

.main-header-contacts .main-header-ph {
	position: relative;
	display: inline-block; 
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	text-decoration: none;
	margin: 0;
	margin-bottom: 8px;
	padding: 9px 50px 9px 70px;
	border: 3px solid #ffffff;
}

.main-header-contacts .main-header-ph::before {
	position: absolute;
	content: "";
	background: url("../img/icon-phone.svg") no-repeat;
	top: 9px;
	left: 14px;
	width: 19px;
	height: 19px;
	background-position: 0  0;
}

.user-navigation {
	width: 280px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-navigation .login-link {
	position: relative;
	display: block;
	padding: 12px 27px 12px 47px;
	background-color: #ffffff;	
	margin-right: 10px;
}

.user-navigation .reg-link {
	display: block;
	padding: 12px 25px;	
	background-color: #ffffff;
}

.user-navigation .login-link::before {
	content: "";
	position: absolute;
	width: 21px;
	height: 18px;
	top: 13px;
	left: 13px;
	background: url("../img/icon-login.svg") no-repeat;
	background-position: 0  0;
}

.user-navigation .login-link:hover::before {
	background: url("../img/icon-login-dark.svg") no-repeat;
}

.user-navigation .login-link:active::before {
	background: url("../img/icon-login-dark.svg") no-repeat;
}

.user-account {
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.user-account .user-name {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 10px;
}

.user-name-link {
	position: relative;
	width: 200px;
	display: block;
	background-color: #ffffff;
	padding: 12px 8px 12px 50px;
}

.user-name-link:before,
.user-name-link:active:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 14px;
	left: 15px;	
	background: url("../img/icon-user.svg") no-repeat;
	background-position: 0 0;

}

.user-name-link:hover::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 14px;
	left: 15px;	
	background: url("../img/icon-user-dark.svg") no-repeat;
	background-position: 0 0;
}

.user-name-link:active:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 14px;
	left: 15px;	
	background: url("../img/icon-user.svg") no-repeat;
	background-position: 0 0;
}

.user-name-exit {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 45px;
	background-color: #ffffff;
}

.user-name-exit:before {
	content: "";
	position: absolute;
	width: 25px;
	height: 20px;
	top: 14px;
	right: 6px;	
	background: url("../img/icon-logout.svg") no-repeat;
	background-position: 0 0;
}

.user-name-exit:hover::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 20px;
	top: 14px;
	right: 6px;	
	background: url("../img/icon-logout-dark.svg") no-repeat;
	background-position: 0 0;
}

.user-account ul {
	margin: 0;
	padding: 0;
	list-style: none; 
}

.user-menu {
	display: flex;
}

.user-menu li:first-child {
	margin-left: 20px;
}

.user-menu .user-order-link {
	position: relative;
	padding-right: 32px;
}

.user-menu .user-order-link:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	top: 8px;
	right: 14px;	
	border-radius: 50%;
	background-color: #32425c;
	background-position: 0 0;
}

.user-navigation a,
.user-name a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	text-decoration: none;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:active, 
.user-name a:active {
	color: rgba(0,0,0,.3);
}

.user-menu a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.user-menu a:hover {
	color: #ee3643;
}

.user-menu a:active {
	color: rgba(50, 66, 92, 0.3);
}

.main-navigation-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
	background-color: #32425c;
	margin: 0;
	padding: 0;
	border-bottom: 5px solid #293449;
}

.main-navigation-list li:first-child a {
	padding-left: 53px;
}

.main-navigation-list li:last-child a{
	padding-right: 53px;
}


.main-navigation li:hover {
	background-color: #293449;
}

.main-navigation li:active {
	background-color: #1d2739;
}

.main-navigation a {
	display: block;
	padding: 20px 31px 18px 30px;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	text-decoration: none;
}

.main-navigation a:active {
	color: rgba(255,255,255, 0.5);
}

.breadcrumbs {
	display: flex;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.breadcrumbs li:nth-child(1) a {
	font-size: 0;
}

.breadcrumbs li {
	position: relative;
	padding: 0 21px;
}

.breadcrumbs li:nth-child(1) {
	padding: 0 35px 0 0;
}

.breadcrumbs li:nth-child(1) a::before {
	content: "";
	position: absolute;
	left: 0;
	top: 40%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 15px;
	height: 12px;
	background-image: url(../img/icon-home.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li a::after {
	content: "";
	position: absolute;
	right: -2px;
	top: 40%;
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
	width: 8px;
	height: 8px;
	border-top: 2px solid #cdd1d8;
	border-right: 2px solid #cdd1d8;
}

.filter-item {
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 16px;
	padding-bottom: 25px;
}

.filter-item legend {
	margin-bottom: 20px;
}

.range-filter {
	width: 220px;
}

.range-controls {
	position: relative;
	height: 41px;
	background-color: #f7f3ec;
	border-radius: 0 0 5px 5px;
	margin-bottom: 9px;
	padding: 39px 20px 0 20px;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
}

.price-controls input {
	width: 95px;
	height: 37px;
	border-radius: 2px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	color: #283136;
	border: none;
	background: #f7f3ec;
}

/* -------------- Промо-блок* ----------------------------*/

.promo {
	margin-bottom: 12px;

}

.promo-top-list.layout-positioner {
	display: flex;
}

.promo .promo-item {
	width: 300px;
	padding: 20px 22px 20px 22px;
	margin-right: 20px;
}

.promo-top-list .promo-item:last-child {
	margin-right: 0;
}

.promo-item.materials {
	background-color: #ffbf47;
	background: url("../img/icon-1.svg") no-repeat;
	background-position: 82% 45%;
}

.promo-item.instruments {
	background-color: #3bbce3;
	background: url("../img/icon-2.svg") no-repeat;
	background-position: 82% 45%;
}

.promo-item.technik {
	background-color: #dc91d8;
	background: url("../img/icon-3.svg") no-repeat;
	background-position: 82% 45%;
}

.promo-right-list .discounts {
	background: url("../img/icon-4.svg") no-repeat;
	background-position: 82% 45%;
	background-color: #8ed78f;
}

.promo-right-list .discounts {
	margin-bottom: 20px;
}

.promo-right-list .deliver {
	background: url("../img/icon-5.svg") no-repeat;
	background-position: 82% 45%;
	background-color:  #ffc047;
}

.promo-top-list, 
.promo-right-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.promo-top-list {
	margin-bottom: 20px;
}

.promo-right-list {
	display: flex;
	flex-direction: column;
}

.promo-right-list .promo-item{
	margin-right: 0;
	width: 256px;
}

.slider-wrapper.layout-positioner {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.promo-sliders {
	position: relative;
	width: 620px;
	min-height: 266px;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.promo-slide {
	position: relative;
 	 min-height: 266px;
 	 display: none;
 	 padding: 22px 25px;
}

.promo-slide h2 {
	position: relative;
	display: block;
	z-index: 10;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-transform: uppercase;
}

.promo-slide p  {
	position: relative;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	z-index: 10;
}

.promo-slide img {
	position: absolute;
	top: 0;
	left: 0;
	width: 620px;
	height: 266px;
	z-index: 5;
}

.promo-sliders > input {
	display: none;
}

.promo-slider-btn {
	position: absolute;
	z-index: 12;
	top: 43%;
	width: 28px;
	height: 28px;
	border-bottom: none;
	border-left: none;
	border-top: 3px solid #ffffff;
	border-right: 3px solid #ffffff;
	background-color: transparent;
	font-size: 0;
	outline: none;
	cursor: pointer;
}

.promo-slide .slider-btn {
	width: 195px;
	text-align: center;
	border-radius: 3px;
}

.promo-slider-btn.prev {
  left: 31px;
   transform: translateY(-50%) rotate(225deg);
}

.promo-slider-btn.next {
 left: 562px;
  transform: translateY(-50%) rotate(45deg);
}


.promo-slider-toggles {
	position: absolute;
	display: flex;
	bottom: 24%;
	left: 63%;
	transform: translateX(-50%);
	width: 160px;
	height: 10px;
	font-size: 0;
	text-align: center;
	z-index: 10;
}

.promo-slider-toggles label {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#promo-toggle-1:checked ~ .promo-slide:nth-of-type(1),
#promo-toggle-2:checked ~ .promo-slide:nth-of-type(2) {
  display: block;
}

#promo-toggle-1:checked ~ .promo-slider-toggles label[for="promo-toggle-1"],
#promo-toggle-2:checked ~ .promo-slider-toggles label[for="promo-toggle-2"] {
  background-color: #ee3643;
}

.promo-slide .slider-btn {
  position: absolute;
  bottom: 65px;
  left: 25px;
  width: 195px;
  z-index: 10;
}

.promo-item h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
}

.promo-item .btn-promo {
	width: 96px;
	padding: 10px 21px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.1);
}

.promo-item .btn-promo:hover {
	background-color: rgba(244,248,249, 0.2);
}

.promo-item .btn-promo:active {
	background-color: rgba(178,178,178, 0.3);
}

.promo-top-list li:nth-child(1) {
	background-color: #ffbf47;
}

.promo-top-list li:nth-child(2) {
	background-color: #3bbce3;
}

.promo-top-list li:nth-child(3) {
	background-color: #dc91d8;
}

.promo-right-list li:nth-child(1) {
	background-color: #8ed78f;
	margin-bottom: 20px;
}

.promo-right-list li:nth-child(2) {
	background-color: #ffc047;
}

/*	 ПОПУЛЯРНЫЕ ТОВАРЫ  */

.popular-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 26px 22px;
	margin-bottom: 20px;
	background-color: #f9f5f0;
}

.popular-items h2 {
	margin: 0;
	padding: 0;
	width: 615px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
}

.btn-caption {
	width: 250px;
	border-radius: 3px;
	padding: 11px 0;
	text-align: center;
	vertical-align: middle;
}


/* -------------- КАТАЛОГ ВНУТРЕННИЙ* ----------------------------*/

.catalog-wrapper {
	display: flex;
	justify-content: space-between;
}

.page-title {
	padding: 30px;
	margin: 0;
	margin-bottom: 20px;
	background-color: #f2f6f8; 
}

.filter {
	width: 220px;
}

.filter .producer-list,
.filter .accumulator-list {
	margin: 0;
	padding: 0;
}

.sorting-wrapper {
	display: flex;
	padding: 10px 0 10px 20px;
	background-color: #f7f3ec;
	margin-bottom: 20px;
}

.sorting-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sorting-list .active {
	color: #ee3643;
	border-bottom: none;

}

.sorting-list li:not(:last-of-type) {
	margin-right: 68px;
}

.sorting-arrows {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60px;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-left: auto;
}

.sorting-arrows .down {
	margin-right: 17px;
}

.sorting-arrows .down {
	margin-left: 3px;
}

.sorting-arrows li {
	position: relative;
}

.sorting-arrows .active {
	fill: #ee3643;
}

.sorting-arrows li:hover a path  {
	fill: #231f20;
}

.sorting-arrows li:active a path  {
	fill: #ee3643;
}

.sorting-title {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	text-decoration: none;
	width: 220px;
	margin: 0;
	padding: 0;
}

.sorting-list a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px dotted rgb(238, 54, 67);
}

.sorting-list a:hover {
	color: rgb(0, 0, 0);
	border-bottom: 1px solid rgb(238, 54, 67);
}

.sorting-list a:active {
	color: rgb(238, 54, 67);
	border: none;
}

.catalog  {
	width: 700px;
	margin-bottom: 52px;
}

.inner-page .catalog  {
	width: 700px;
	margin-bottom: 60px;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.inner-page .catalog-list {
	margin-bottom: 52px;
}

.catalog h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.catalog-item {
	position: relative;
	width: 218px;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
}

.catalog-item a {
	text-decoration: none;
}

.catalog-item-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}


.catalog h3 {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	padding: 15px;
	margin: 0;
	text-align: center;
}

.filter-title {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
	background-color: #f7f3ec;
	padding: 10px 20px;
	margin: 0;
	margin-bottom: 16px
} 

.prouduct-price {
	padding: 0;
	margin: 0;
	text-align: center;
}

.catalog-item {
	position: relative;
}

.actions {
	display: block;
}

.catalog-item .flag {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 59px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}

.catalog-item .flag-new {
	background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions{
	position:absolute;
	top:0;
	left:0;
	width:218px;
	height:88px;
	padding:40px 0;
	background-color:rgba(255,255,255,0.9);
	z-index:10;
}

.catalog-item .image {
	width: 218px;
	height: 155px;
}

.catalog-item .image  {
	max-width:100%;
}


.catalog-item .title {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	min-height:40px;
	padding:0 25px;
	margin-top:10px;
	margin-bottom:15px;   
	text-align: center; 
}

.product-price-old {
	font-family: "PT Sans", Arial, sans-serif;
	display: block;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: line-through;
	color: #a9a9a9;
	min-height: 20px;
	margin-top: 15px;
	margin-bottom: 10px;

	text-decoration:line-through;
}

.product-price-current {
	position:relative;
	display: inline-block;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	width: 80px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding:11px 30px;
	color: white;
	background: #ee3643;
	border-radius: 3px;
	cursor: pointer;
}

.product-price-current:after {
	content: "";
	position: absolute;
	top: 0;
	right:-20px;
	width: 0;
	height: 0;
	border: 20px solid white;
	border-left-color: #ee3643;
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5); 
}

.catalog-item:active {
	box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5); 
}

.catalog-item .buy,
.catalog-item .mark {
	display: block;
	position: relative;
	width: 129px;
	margin:0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315; 
	background-color: #63a63e;
	color: white;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", sans-serif;
	line-height: 18px;
	text-decoration :none;
	text-transform: uppercase;    
	border-radius: 3px;
	text-align: center;
}

.catalog-item .buy::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	width: 16px;
	height: 16px;
	background: url(../img/icon-cart.svg) no-repeat;
	opacity: 0.3;

}

.catalog-item .buy:hover::before {
	opacity: 1;
}

.catalog-item .buy:active::before {
	opacity: 0.3;
}

.buy:hover {
	background-color: #5fbb2d;
	border-color: #5fbb2d;
	border-bottom-color: #367315;
}

.buy:active {
	background-color: #518534;
	border-color: #518534; 
}

.catalog-item .mark {
	color:#32425c;
	background:white;
	border-bottom-color:#63a63e;
}

.catalog-item .actions{
	display: none;
}

.catalog-item:hover .actions{
	display: block;
}


.catalog-item .mark:hover {
	border: 3px solid  rgb(50, 66, 92);
}

.catalog-item .mark:active {
	border: 3px solid rgba(193, 198, 206, 0.3);
	color: rgba(50, 66, 92, 0.302);
}

/*           ПАРЕНЕРЫ            */

.partners {
	margin-bottom: 85px;
}

.popular-partners {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 26px 22px;
	margin-bottom: 20px;
	background-color: #f9f5f0;
}

.partners h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.partner-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.partner-list li {
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
}

.partner-list li a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 145px;
}

.partner-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5); 
}

.partner-item:active {
	box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5); 
}

.partner-list li:nth-child(n+5) {
	margin-bottom: 0;
}

.partners a {
	text-decoration: none;
}

/*			СЕРВИСЫ           */

.service {
	background: url(../img/service-bg.png) repeat;
	margin-bottom: 80px;
	padding-bottom: 130px;
}

.service-title {
	display: flex;
	flex-direction: column;
	margin-bottom: 75px;
}

.service h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	padding-top: 75px;
	margin-bottom: 25px;
}

.article {
	padding: 65px 0 75px 0;
	background: url(../img/service-bg.png) repeat;
}

.service p, 
.article p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;
	margin: 0;
	padding: 0;
}

.article h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 30px;
}


.services-slider {
  display: flex;
  justify-content: space-between;
  min-height: 188px;
}

.services-slider > input,
.services-slide {
  display: none;
}

#services-toggle-1:checked ~ .services-slides .services-slide:nth-child(1),
#services-toggle-2:checked ~ .services-slides .services-slide:nth-child(2),
#services-toggle-3:checked ~ .services-slides .services-slide:nth-child(3) {
  display: block;
}

#services-toggle-1:checked ~ .services-slider-toggles label[for="services-toggle-1"],
#services-toggle-2:checked ~ .services-slider-toggles label[for="services-toggle-2"],
#services-toggle-3:checked ~ .services-slider-toggles label[for="services-toggle-3"] {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  color: #32425c;
  background-color: #ffffff;
}

.services-slider-toggles {
  position: relative;
  width: 240px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.services-slider-toggles::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 272px;
  background: url("../img/divider.png") no-repeat;
}

.services-slider-toggles label {
  display: block;
  padding: 13px 22px 16px 22px;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  background-color: #32425c;
  cursor: pointer;
}

.services-slider-toggles label:hover {
  background-color: #293449;
}

.services-slides {
  padding-left: 10px;
  width: 620px;
}

.services-slide-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 36px;
  color: #32425c;
}

.services-slide-description {
  margin-top: 0;
  margin-bottom: 0;
  width: 375px;
  position: relative;
  z-index: 10;
}

.services-slide {
  position: relative;
}


.services-slider-toggles:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 272px;
	bottom: -25%;
	right: 0;
	background: url("../img/border-image.png") no-repeat;
}

.services-slide::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 470px;
  height: 285px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.services-slide:nth-child(1)::after {
	background-image: url(../img/delivery-icon.png);
}

.services-slide:nth-child(2)::after {
	background-image: url(../img/guarantee-icon.png);
}

.services-slide:nth-child(3)::after {
	background-image: url(../img/credit-icon.png);
}

.services-slides .btn-service {
	margin-top: 30px;
	width: 194px;
	border-radius: 3px;
	text-align: center;
	position: relative;
	z-index: 15;
}

.services-slide-title{
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 24px;
    color: #32425c;
}

.company-wrapper.container {
	display: flex;
	padding-bottom: 85px;
}

.company-wrapper .company {
	margin-right: 115px;
}

.map, .company {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.company h2, 
.map h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}

.company .btn-caption {
	width: 220px;
	text-decoration: none;
}

.company p, 
.map p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.company .logistic-item {
	position: relative;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	margin-bottom: 20px;
	padding-left: 36px;
}

.company .logistic-item::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.company .logistic-item:last-child {
	margin-bottom: 0;
}

.company p:nth-child(2) {
	margin-bottom: 35px;
}

.company p:nth-child(3) {
	margin-bottom: 25px;
}

.map p:first-of-type {
	margin-bottom: 35px;
}

.logistic-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
}

.logistic-list li {

}




.map .img-map {
	position: relative;
	display: block;
	margin-bottom: 40px;
	height: 158px;
	overflow: hidden;
	margin-bottom: 40px;

}

.map .btn-caption {
	width: 100%;
}

.footer-top {
	background-color: #32425c; 
}

.footer-top-layout {
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}

.footer-nav {
	width: 550px;
	margin-top: 40px;
}

.footer-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-nav ul:nth-child(1) {
	margin-bottom: 40px;
}

.footer-nav ul:nth-child(2) {
	margin-left: 25px;
}

.footer-logo {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	padding: 18px 0 15px 0;
	margin-bottom: 35px;
}

.footer-adress p,
.footer-adress a,
.footer-nav a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: rgb(241, 245, 247);
	text-decoration: none; 
	padding: 0;
	margin: 0;
}

.footer-contacts {
	display: flex;
	justify-content: space-between;
	padding-bottom: 35px;
	padding-top: 40px;
}

.footer-bottom {
	background-color: #293449; 
}

.footer-contacts p {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: rgb(241, 245, 247); 
	padding: 0;
	margin: 0;
}

.footer-nav-list-1,
.footer-nav-list-2 {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-nav ul:nth-child(2) a {
	color: rgb(255, 209, 128); 
}

.footer-nav ul:nth-child(2) a:active {
	color: rgba(255, 209, 128, 0.5); 
}

.footer-nav ul:nth-child(1) a:active {
	color: rgba(241, 245, 247, 0.5); 
}

.footer-nav a:hover{
	text-decoration: underline; 
}

.footer-nav p {
	margin: 0;
	padding: 0;
}

.footer-social-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-social a {
	padding: 0;
	text-decoration: none;
}

.footer-social-list li {
	margin: 0;
	padding: 0;
}

.footer-social .btn {
	display: inline-block;
	width: 42px;
	height:42px;
	margin-right: 5px;
	vertical-align: middle;
	border-radius: 50%;
}

.footer-social .btn-vk{
	background:  #212a3a url("../img/icon-vk.svg") no-repeat;
	background-position: 50% 50%;
}

.footer-social .btn-fb {
	background:  #212a3a url("../img/icon-fb.svg") no-repeat;
	background-position: 50% 50%;
}

.footer-social .btn-insta {
	background:  #212a3a url("../img/icon-insta.svg") no-repeat;
	background-position: 50% 50%;
}

.footer-social .btn-vk:hover,
.footer-social .btn-fb:hover,
.footer-social .btn-insta:hover {
	background-color: #ca2c37;	
}

.feedback {
	display: flex;
}

.feedback-positioner:last-child {
	margin-left: 50px;
}

.feedback-positioner {
	display: inline-block;
}

.feedback p {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	padding: 0;
	margin: 0; 
}

.feedback a {
	text-decoration: none;
	color: rgb(255, 209, 128); 
}

.feedback a:hover {
	text-decoration: underline;
}

.feedback a:active {
	color: #ee3643; 
}

/*Модальные окна*/

.modal-add h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	text-transform: none;
}

.modal-add a {
	border: 0;
	text-decoration: none;
}

.modal-add .red-line {
	background-color: #ee3643;
	height: 7px;
}

.modal-add .added-items {
	background-color: #f1f1f1;
}
.added-items .btn-left {
	border-radius: 3px;
}

.modal-add button,
.modal button {
	border: 0;
}

.added-items .btn-right {
	border-radius: 3px;
	background-color: #ffffff;
	color: #000000;
}


.letter-form label,
.letter-form h3 {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
}

.letter-form input[type="text"],
.letter-form textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #a9a9a9;
	border: 0;
}

.letter-form input:focus,
.letter-form textarea:focus {
	border-color: #a9a9a9;
}

/*      Каталог   */

.breadcrumbs {
	list-style: none;
}

.breadcrumbs a {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	border: 0;
	text-decoration: none;
}

.filter h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

.breadcrumbs li {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

.producer-list {
	list-style: none;
}

.accumulator-list {
	list-style: none;
}

.filter-sorting {
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 16px;
	padding-bottom: 25px;
}

.filter-sorting legend {
	margin-bottom: 20px
}

.filter-sorting:nth-of-type(3) {
	margin-bottom: 45px;
	border-bottom: none;
}

.filter-option {
	padding-left: 35px;
	margin-bottom: 18px;
}

.filter-form legend {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.filter-form label {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

.filter-option label {
	position: relative;
	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -35px;
	width: 25px;
	height: 25px;
	background: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}


.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	top: -2px;
	left: -35px;
	width: 25px;
	height: 25px;
	background: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-radio + label::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -35px;
	width: 25px;
	height: 25px;
	background: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	top: -2px;
	left: -35px;
	width: 25px;
	height: 25px;
	background: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}


.filter-form input[type="radio"]:disabled ~ label,
.filter-form input[type="checkbox"]:disabled ~ label {
	color: rgba(233, 233, 233, 0.4);
}

.filter-form input[type="checkbox"]:not(:checked):not(:disabled) + label:hover::before,
.filter-form input[type="checkbox"]:checked + label:hover::before {
	background: url("../img/checkbox-off-hover.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-form input[type="checkbox"]:disabled + label::before,
.filter-form input[type="checkbox"]:disabled + label::after {
	background: url("../img/checkbox-off-disabled.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.filter-form input[type="checkbox"]:checked:not(:disabled) + label:hover::after {
	background: url("../img/checkbox-on-active.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-form input[type="radio"]:disabled + label::before {
	background: url("../img/radio-off-disabled.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.filter-form input[type="radio"]:disabled + label:hover::before {
	background: url("../img/radio-off-disabled.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-form input[type="radio"]:not(:checked):not(:disabled) + label:hover::before {
	background: url("../img/radio-off-hover.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-form input[type="radio"]:checked:not(:disabled) + label:hover::after {
	background: url("../img/radio-on-active.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-list li {
	margin-right: 10px;
}

.pagination-list li:last-child {
	margin-right: 0;
	width: 140px;
	text-align: center;
}

.filter-form .btn-filter { 
	width: 140px;
}


.pagination-item a, .filter-form .btn-filter {
	display: block;
	padding: 10px 14px 10px 15px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.pagination-item-current .btn-paginator:hover,
.pagination-item-current .btn-paginator:active,
.pagination-item-current .btn-paginator:focus {
	background-color: rgb(238, 54, 67);
	cursor: pointer;
}

.filter-form .btn-filter,
.pagination-item .btn-paginator {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid rgb(229, 229, 229);
	border-radius: 0;
}

.filter-form .btn-filter:hover,
.pagination-item .btn-paginator:hover {
	border: 1px solid rgb(189, 198, 202);
}

.filter-form .btn-filter:active,
.pagination-item .btn-paginator:active {
	border: 1px solid rgb(238, 54, 67);
}

.pagination-item-current .btn-paginator {
	color: #ffffff;
	background-color: rgb(238, 54, 67);
}







