body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.main-header {
  margin-bottom: 60px;
  padding-bottom: 58px;

  background: #f3f7f8 url("../img/header-middle.png") repeat;
}

.inner-page .main-header {
  margin-bottom: 22px;
}

.main-header-top {
  margin-bottom: 46px;
  padding: 0;

  background-color: #293449;
}

.main-header-top-positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ee3643;
  cursor: pointer;
}

.btn:hover,
.logo:hover {
  background-color: #ca2c37;
}

.btn:active,
.logo:active {
  background-color: #ba2732;
}

.cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.cart-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.cart-container a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  padding: 12px 0;

  text-align: center;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;

  background-color: #293449;
  border-radius: 0;
}

.cart-container .btn-cart {
  position: relative;

  padding-left: 17px;
}

.inner-page .btn-cart {
  padding-top: 12px;
  padding-left: 20px;
}

.inner-page .btn-basket {
  background-color: #ca2c37;
}

.cart-container .btn-bookmark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;

  width: 16px;
  height: 16px;

  background: url("../img/icon-bookmark.svg") no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.3;
}

.cart-container .btn-basket::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 117px;

  width: 16px;
  height: 16px;

  background: url("../img/icon-cart.svg") no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.3;
}

.btn-cart:hover {
  background-color: #212a3a;
}

.btn-cart:active {
  color: rgba(255,255,255, 0.6);

  background-color: #161d29;
}

.cart-container .btn-basket:hover::before,
.cart-container .btn-bookmark:hover::before {
  opacity: 1;
}

.cart-container .btn-basket:active::before,
.cart-container .btn-bookmark:active::before {
  opacity: 0.5;
}

.logo {
  display: block;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 7px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.main-header form {
  position: relative;

  width: 270px;
  margin: 0 auto;

  color: #ffffff;
}

.header-search input {
  width: 100%;
  height: 42px;
  margin: 0;
  padding: 0;
  padding-left: 49px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
  border: 0;
}

.header-search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

.header-search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

.header-search input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}

.header-search input[type="search"]::placeholder {
  color: #ffffff;
}

.header-search label {
  position: absolute;
  top: 0;
  left: 0;

  width: 46px;
  height: 42px;

  font-size: 0;

  background: url("../img/icon-search.svg") no-repeat;
  background-position: 16px 12px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.header-search input:hover {
  color: #ffffff;

  background-color: #212a3a;
}

.header-search input:hover ~ label {
  opacity: 1;
}

.header-search input:focus {
  top: 0;
  left: 0;

  color: #000000;

  background: url("../img/icon-search-red.svg") no-repeat;
  background-color: #ffffff;
  background-position: 16px 12px;
}

.header-search input:focus ~ label {
  background: url("../img/icon-search-red.svg") no-repeat;
  background-position: 16px 12px;
  opacity: 1;
}

.cart-container .btn-order {
  padding-right: 2px;

  text-transform: none;

  background-color: #63a63e;
}

.cart-container .btn-order:hover {
  background-color: #5fbb2d;
}

.cart-container .btn-order:active {
  color: rgba(255,255,255, 0.51);
}

.middle-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;

  -webkit-box-align: start;
  -ms-flex-align: start;
}

.main-header-contacts {
  width: 270px;
  margin-right: 70px;
}

.inner-page .main-header-contacts {
  margin-right: 50px;
}

.middle-header .shop-descr {
  box-sizing: border-box;
  width: 200px;
  margin: 0 72px 0 52px;
  padding: 0;
  padding-top: 2px;

  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.main-header-contacts .main-header-adr {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.main-header-contacts .main-header-ph {
  position: relative;

  display: inline-block;
  margin: 0;
  margin-bottom: 4px;
  padding: 9px 50px 9px 68px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-decoration: none;

  border: 3px solid #ffffff;
}

.main-header-contacts .main-header-ph::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;

  width: 19px;
  height: 19px;

  background: url("../img/icon-phone.svg") no-repeat;
  background-position: 0 0;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.user-navigation .login-link {
  position: relative;

  display: block;
  margin-right: 10px;
  padding: 12px 27px 12px 47px;

  background-color: #ffffff;
}

.user-navigation .reg-link {
  display: block;
  padding: 12px 23px;

  background-color: #ffffff;
}

.user-navigation .login-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;

  width: 21px;
  height: 18px;

  background: url("../img/icon-login.svg") no-repeat;
  background-position: 0 0;
}

.user-navigation .login-link:hover::before {
  background: url("../img/icon-login-dark.svg") no-repeat;
}

.user-navigation .login-link:active::before {
  background: url("../img/icon-login-dark.svg") no-repeat;
}

.user-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
  width: 300px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-wrap: wrap;
}

.user-account .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: nowrap;
  margin-bottom: 3px;

  -ms-flex-wrap: nowrap;
}

.user-name-link {
  position: relative;

  display: block;
  width: 200px;
  padding: 12px 8px 12px 50px;

  background-color: #ffffff;
}

.user-name-link::before,
.user-name-link:active::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;

  width: 20px;
  height: 20px;

  background: url("../img/icon-user.svg") no-repeat;
  background-position: 0 0;
}

.user-name-link:hover::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;

  width: 20px;
  height: 20px;

  background: url("../img/icon-user-dark.svg") no-repeat;
  background-position: 0 0;
}

.user-name-link:active::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;

  width: 20px;
  height: 20px;

  background: url("../img/icon-user.svg") no-repeat;
  background-position: 0 0;
}

.user-name-exit {
  position: relative;

  display: inline-block;
  width: 42px;
  height: 45px;

  background-color: #ffffff;
}

.user-name-exit::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 6px;

  width: 25px;
  height: 20px;

  background: url("../img/icon-logout.svg") no-repeat;
  background-position: 0 0;
}

.user-name-exit:hover::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 6px;

  width: 25px;
  height: 20px;

  background: url("../img/icon-logout-dark.svg") no-repeat;
  background-position: 0 0;
}

.user-account ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-menu li:first-child {
  margin-left: 20px;
}

.user-menu .user-order-link {
  position: relative;

  padding-right: 32px;
}

.user-menu .user-order-link::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 14px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  background-position: 0 0;
  border-radius: 50%;
}

.user-navigation a,
.user-name a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active,
.user-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-menu a:hover {
  color: #ee3643;
}

.user-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #32425c;
  border-bottom: 5px solid #293449;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.main-navigation-list li:first-child a {
  padding-left: 52px;
}

.main-navigation-list li:last-child a {
  padding-right: 55px;
}

.main-navigation li:hover {
  background-color: #293449;
}

.main-navigation li:active {
  background-color: #1d2739;
}

.main-navigation a {
  display: block;
  padding: 19px 30px 18px 30px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:active {
  color: rgba(255,255,255, 0.5);
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
}

.breadcrumbs li:nth-child(1) a {
  font-size: 0;
}

.breadcrumbs li {
  position: relative;

  padding: 0 22px;
}

.breadcrumbs li:nth-child(1) {
  padding: 0 30px 0 0;
}

.breadcrumbs li:nth-child(1) a::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;

  width: 15px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.breadcrumbs li a::after {
  content: "";
  position: absolute;
  top: 40%;
  right: -3px;

  width: 8px;
  height: 8px;

  border-top: 2px solid #cdd1d8;
  border-right: 2px solid #cdd1d8;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.filter-item {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  padding-bottom: 25px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-item legend {
  margin-bottom: 14px;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 9px;
  padding: 39px 20px 0 20px;

  background-color: #f7f3ec;
  border-radius: 0 0 5px 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.price-controls input {
  width: 95px;
  height: 37px;
  padding-left: 2px;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;

  background: #f7f3ec;
  border: none;
  border-radius: 2px;
}

/* -------------- Промо-блок* ----------------------------*/

.promo {
  margin-bottom: 53px;
}

.promo-top-list.layout-positioner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo .promo-item {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  margin-right: 20px;
  padding: 20px 22px 21px 22px;
  overflow: hidden;
}

.promo-top-list .promo-item:last-child {
  margin-right: 0;
}

.promo-item.materials {
  background: url("../img/icon-1.svg") no-repeat;
  background-color: #ffbf47;
  background-position: 83% 55%;
}

.new-item:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;

  width: 60px;
  height: 59px;

  background: url("../img/new-flag.png") no-repeat 0 0;
}

.promo-item.instruments {
  background: url("../img/icon-2.svg") no-repeat;
  background-color: #3bbce3;
  background-position: 87% 52%;
}

.promo-item.technik {
  background: url("../img/icon-3.svg") no-repeat;
  background-color: #dc91d8;
  background-position: 85% 52%;
}

.promo-right-list .discounts {
  background: url("../img/icon-4.svg") no-repeat;
  background-color: #8ed78f;
  background-position: 81% 51%;
}

.promo-right-list .discounts {
  margin-bottom: 20px;
}

.promo-right-list .deliver {
  background: url("../img/icon-5.svg") no-repeat;
  background-color: #ffc047;
  background-position: 86% 53%;
}

.promo-top-list,
.promo-right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-top-list {
  margin-bottom: 20px;
}

.promo-right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.promo-right-list .promo-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  margin-right: 0;
}

.slider-wrapper.layout-positioner {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.promo-sliders {
  position: relative;

  width: 620px;
  min-height: 266px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  list-style: none;
}

.promo-slide {
  position: relative;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 266px;
  padding: 23px 25px 22px 24px;
}

.promo-slide h2 {
  position: relative;
  z-index: 10;

  display: block;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.promo-slide p {
  position: relative;
  z-index: 10;

  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.promo-slide img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  width: 620px;
  height: 266px;
}

.promo-sliders > input {
  display: none;
}

.promo-slider-btn {
  position: absolute;
  top: 50%;
  z-index: 12;

  width: 28px;
  height: 28px;

  font-size: 0;

  background-color: transparent;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-bottom: none;
  border-left: none;
  outline: none;
  cursor: pointer;
}

.promo-slider-btn.prev {
  left: 31px;

  -webkit-transform: translateY(-50%) rotate(225deg);
      -ms-transform: translateY(-50%) rotate(225deg);
          transform: translateY(-50%) rotate(225deg);
}

.promo-slider-btn.next {
  left: 565px;

  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.promo-slide .slider-btn {
  position: absolute;
  bottom: 21px;
  left: 25px;
  z-index: 10;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 195px;
  width: 195px;
  padding-left: 12px;

  text-align: center;

  border-radius: 3px;
}

.promo-slider-toggles {
  position: absolute;
  bottom: 13%;
  left: 369px;
  z-index: 10;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 10px;

  font-size: 0;
  text-align: center;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.promo-slider-toggles label {
  display: block;
  width: 6px;
  height: 6px;
  margin-right: 5px;
  margin-left: 5px;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#promo-toggle-1:checked ~ .promo-slide:nth-of-type(1),
#promo-toggle-2:checked ~ .promo-slide:nth-of-type(2) {
  display: block;
}

#promo-toggle-1:checked ~ .promo-slider-toggles label[for="promo-toggle-1"],
#promo-toggle-2:checked ~ .promo-slider-toggles label[for="promo-toggle-2"] {
  background-color: #ee3643;
}

.promo-item h2 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-item .btn-promo {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 135px;
  padding: 9px 10px 10px 12px;

  vertical-align: middle;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.promo-item .btn-promo:hover {
  background-color: rgba(244,248,249, 0.2);
}

.promo-item .btn-promo:active {
  background-color: rgba(178,178,178, 0.3);
}

.promo-top-list li:nth-child(1) {
  background-color: #ffbf47;
}

.promo-top-list li:nth-child(2) {
  background-color: #3bbce3;
}

.promo-top-list li:nth-child(3) {
  background-color: #dc91d8;
}

.promo-right-list li:nth-child(1) {
  margin-bottom: 20px;

  background-color: #8ed78f;
}

.promo-right-list li:nth-child(2) {
  background-color: #ffc047;
}

/* ПОПУЛЯРНЫЕ ТОВАРЫ */

.popular {
  margin-bottom: 20px;
}

.popular-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 26px 4px 28px;

  background-color: #f9f5f0;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.popular-items h2 {
  width: 615px;
  margin-top: 25px;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.btn-caption {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 252px;
  padding: 10px 0 10px 0;

  vertical-align: middle;
  text-align: center;

  border-radius: 3px;
}

/* -------------- КАТАЛОГ ВНУТРЕННИЙ* ----------------------------*/

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.page-title {
  margin: 0;
  margin-bottom: 19px;
  padding: 27px 25px 30px 27px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filter {
  width: 220px;
}

.filter .producer-list,
.filter .accumulator-list {
  margin: 0;
  padding: 0;
}

.sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 10px 0 10px 20px;

  background-color: #f7f3ec;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-list .active {
  color: #ee3643;

  border-bottom: none;
}

.sorting-list li:not(:last-of-type) {
  margin-right: 68px;
}

.sorting-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.sorting-arrows .down {
  margin-right: 17px;
}

.sorting-arrows .down {
  margin-left: 3px;
}

.sorting-arrows li {
  position: relative;
}

.sorting-arrows .active {
  fill: #ee3643;
}

.sorting-arrows li:hover a path {
  fill: #231f20;
}

.sorting-arrows li:active a path {
  fill: #ee3643;
}

.sorting-title {
  width: 220px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
}

.sorting-list a {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: none;

  border-bottom: 1px dotted rgb(238, 54, 67);
}

.sorting-list a:hover {
  color: rgb(0, 0, 0);

  border-bottom: 1px solid rgb(238, 54, 67);
}

.sorting-list a:active {
  color: rgb(238, 54, 67);

  border: none;
}

.catalog {
  width: 700px;
  margin-bottom: 52px;
}

.inner-page .catalog {
  width: 700px;
  margin-bottom: 60px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.inner-page .catalog-list {
  margin-bottom: 32px;
}

.catalog h2 {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-item {
  position: relative;

  width: 218px;
  overflow: hidden;

  border: 1px solid #eaeaea;
}

.inner-page .catalog-item {
  margin-bottom: 20px;
}

.catalog-item a {
  text-decoration: none;
}

.catalog-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.catalog h3 {
  margin: 0;
  padding: 15px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;
}

.filter-title {
  margin: 0;
  margin-bottom: 12px;
  padding: 10px 20px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.prouduct-price {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-left: 5px;

  text-align: center;
}

.actions {
  display: block;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
}

.catalog-item .image {
  width: 218px;
  height: 155px;
  margin-bottom: 26px;
}

.catalog-item .image {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 25px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;
}

.title a {
  color: #000000;
}

.product-price-old {
  display: block;
  min-height: 20px;
  margin-top: 3px;
  margin-bottom: 7px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;
  text-decoration: line-through;
  text-decoration: line-through;
}

.product-price-current {
  position: relative;

  display: inline-block;
  width: 80px;
  padding: 11px 30px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: white;

  background: #ee3643;
  border-radius: 3px;
  cursor: pointer;
}

.product-price-current::after {
  content: "";
  position: absolute;
  top: 0;
  right: -23px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .buy,
.catalog-item .mark {
  position: relative;

  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
}

.catalog-item .buy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;

  width: 16px;
  height: 16px;

  background: url(../img/icon-cart.svg) no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.3;
}

.catalog-item .buy:hover::before {
  opacity: 1;
}

.catalog-item .buy:active::before {
  opacity: 0.3;
}

.buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.buy:active {
  background-color: #518534;
  border-color: #518534;
}

.catalog-item .mark {
  color: #32425c;

  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .mark:hover {
  border: 3px solid rgb(50, 66, 92);
}

.catalog-item .mark:active {
  color: rgba(50, 66, 92, 0.302);

  border: 3px solid rgba(193, 198, 206, 0.3);
}

/* ПАРЕНЕРЫ */

.partners {
  margin-bottom: 85px;
}

.popular-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 26px 4px 24px;

  background-color: #f9f5f0;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.partners h2 {
  width: 615px;
  margin-top: 25px;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.partner-list li {
  box-sizing: border-box;
  margin-bottom: 21px;

  border: 1px solid #e5e5e5;
}

.partner-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 218px;
  height: 142px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.partner-item:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.partner-item:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.partner-list li:nth-child(n+5) {
  margin-bottom: 0;
}

.partners a {
  text-decoration: none;
}

/* СЕРВИСЫ */

.service {
  margin-bottom: 80px;
  padding-bottom: 97px;

  background: url("../img/service-bg.png") repeat;
}

.service-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 68px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.service h2 {
  margin: 0;
  margin-bottom: 27px;
  padding-top: 65px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.article {
  padding: 39px 0 59px 0;

  background: url("../img/service-bg.png") repeat;
}

.service p,
.article p {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.article h2 {
  margin: 0;
  margin: 25px 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.article p {
  margin: 10px 0;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  min-height: 188px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.services-slider > input,
.services-slide {
  display: none;
}

#services-toggle-1:checked ~ .services-slides .services-slide:nth-child(1),
#services-toggle-2:checked ~ .services-slides .services-slide:nth-child(2),
#services-toggle-3:checked ~ .services-slides .services-slide:nth-child(3) {
  display: block;
}

#services-toggle-1:checked ~ .services-slider-toggles label[for="services-toggle-1"],
#services-toggle-2:checked ~ .services-slider-toggles label[for="services-toggle-2"],
#services-toggle-3:checked ~ .services-slider-toggles label[for="services-toggle-3"] {
  color: #32425c;

  background-color: #ffffff;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.services-slider-toggles {
  position: relative;

  width: 240px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}

.services-slider-toggles::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;

  width: 10px;
  height: 272px;

  background: url("../img/divider.png") no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.services-slider-toggles label {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 22px 14px 22px;

  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}

.services-slider-toggles label:hover {
  background-color: #293449;
}

.services-slides {
  width: 620px;
  padding-left: 10px;
}

.services-slide-description {
  position: relative;
  z-index: 50;

  width: 375px;
  margin-top: 0;
  margin-bottom: 0;
}

.services-slide {
  position: relative;
}

.services-slider-toggles::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -25%;

  width: 10px;
  height: 272px;

  background: url("../img/border-image.png") no-repeat;
}

.services-slide::after {
  content: "";
  position: absolute;
  top: 0;
  right: 2px;

  width: 470px;
  height: 285px;

  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.services-slide:nth-child(1)::after {
  background-image: url("../img/delivery-icon.png");
}

.services-slide:nth-child(2)::after {
  right: -7px;

  background-image: url("../img/guarantee-icon.png");
}

.services-slide:nth-child(3)::after {
  top: 2px;
  right: -12px;

  background-image: url("../img/credit-icon.png");
}

.services-slides .btn-service {
  position: relative;
  z-index: 15;

  box-sizing: border-box;
  width: 195px;
  margin-top: 27px;

  text-align: center;

  border-radius: 3px;
}

.services-slide-title {
  margin-top: 0;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.company-wrapper.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 85px;
}

.map,
.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.map {
  width: 300px;
  margin-left: auto;

  font-size: 0;
}

.company {
  width: 540px;

  font-size: 0;
}

.company h2 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.map h2 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.company .btn-caption {
  width: 220px;

  text-decoration: none;
}

.company p,
.map p {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.company .logistic-item {
  position: relative;

  margin-bottom: 20px;
  padding-left: 37px;

  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.company .logistic-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.company .logistic-item:last-child {
  margin-bottom: 0;
}

.company p:nth-child(2) {
  margin-bottom: 23px;
}

.company p:nth-child(3) {
  margin-bottom: 22px;
}

.map p:first-of-type {
  width: 185px;
  margin-bottom: 30px;
}

.logistic-list {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  list-style: none;
}

.map .img-map {
  margin-bottom: 32px;
}

.map .img-map:hover {
  cursor: pointer;
}

.map .btn-caption {
  width: 100%;

  font-family: "Cuprum", Arial, sans-serif;
}

.footer-top {
  background-color: #32425c;
}

.footer-top-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-bottom: 49px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer-nav {
  width: 550px;
  margin-top: 39px;
}

.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.footer-nav ul:nth-child(1) {
  margin-bottom: 35px;
}

.footer-nav ul:nth-child(2) {
  margin-left: 26px;
}

.logo-container {
  width: 370px;
}

.footer-logo {
  margin-bottom: 0;
  padding: 17px 0 15px 0;

  font-size: 30px;
  line-height: 30px;
}

.footer-top .footer-adress {
  margin-top: 33px;
  padding-left: 5px;
}

.footer-adress,
.footer-phone,
.footer-nav a {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgb(243, 247, 249);
  text-decoration: none;
}

.footer-phone {
  padding-left: 2px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.copyright-descr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  margin-right: auto;
}

.copyright-descr p {
  margin: 10px 0;
  padding-right: 60px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom {
  padding-top: 28px;
  padding-bottom: 35px;

  background-color: #293449;
}

.feedback p {
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback p:last-child {
  padding-left: 52px;
}

.footer-nav-list-1,
.footer-nav-list-2 {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav ul:nth-child(2) a {
  color: rgb(255, 209, 128);
}

.footer-nav ul:nth-child(2) a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-nav ul:nth-child(1) a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav p {
  margin: 0;
  padding: 0;
}

.footer-social {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  padding-right: 63px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.footer-social a {
  padding: 0;

  text-decoration: none;
}

.footer-social-list li {
  margin: 0;
  padding: 0;
}

.footer-social .btn {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 5px;

  vertical-align: middle;

  border-radius: 50%;
}

.footer-social .btn-vk {
  background: #212a3a url("../img/icon-vk.svg") no-repeat;
  background-position: 50% 50%;
}

.footer-social .btn-fb {
  background: #212a3a url("../img/icon-fb.svg") no-repeat;
  background-position: 50% 50%;
}

.footer-social .btn-insta {
  background: #212a3a url("../img/icon-insta.svg") no-repeat;
  background-position: 50% 50%;
}

.footer-social .btn-vk:hover,
.footer-social .btn-fb:hover,
.footer-social .btn-insta:hover {
  background-color: #ca2c37;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.feedback-1,
.feedback-2 {
  width: 140px;
}

.feedback-2 {
  padding-left: 46px;
}

.feedback p {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback a {
  color: rgb(255, 209, 128);
  text-decoration: none;
}

.feedback a:hover {
  text-decoration: underline;
}

.feedback a:active {
  color: #ee3643;
}

/* Каталог */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-decoration: none;

  border: 0;
}

.filter h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs li {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.producer-list {
  list-style: none;
}

.accumulator-list {
  list-style: none;
}

.filter-sorting {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  padding-bottom: 18px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-sorting:nth-of-type(3) {
  margin-bottom: 40px;

  border-bottom: none;
  ;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-form legend {
  margin-bottom: 13px;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-form label {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-option label {
  position: relative;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 25px;
  height: 25px;

  background: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 25px;
  height: 25px;

  background: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form input[type="radio"]:disabled ~ label,
.filter-form input[type="checkbox"]:disabled ~ label {
  color: rgba(233, 233, 233, 0.4);
}

.filter-form input[type="checkbox"]:not(:checked):not(:disabled) + label:hover::before,
.filter-form input[type="checkbox"]:checked + label:hover::before {
  background: url("../img/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form input[type="checkbox"]:disabled + label::before,
.filter-form input[type="checkbox"]:disabled + label::after {
  background: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.filter-form input[type="checkbox"]:checked:not(:disabled) + label:hover::after {
  background: url("../img/checkbox-on-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form input[type="radio"]:disabled + label::before {
  background: url("../img/radio-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.filter-form input[type="radio"]:disabled + label:hover::before {
  background: url("../img/radio-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form input[type="radio"]:not(:checked):not(:disabled) + label:hover::before {
  background: url("../img/radio-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form input[type="radio"]:checked:not(:disabled) + label:hover::after {
  background: url("../img/radio-on-active.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.pagination-list li {
  margin-right: 10px;
}

.pagination-list li:last-child {
  width: 140px;
  margin-right: 0;

  text-align: center;
}

.filter-form .btn-filter {
  width: 140px;
}

.pagination-item a,
.filter-form .btn-filter {
  display: block;
  padding: 10px 14px 10px 15px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.filter-form .btn-filter:hover,
.pagination-item .btn-paginator:hover {
  border: 1px solid rgb(189, 198, 202);
}

.filter-form .btn-filter:active,
.pagination-item .btn-paginator:active {
  border: 1px solid rgb(238, 54, 67);
}

.pagination-item-current .btn-paginator {
  color: #ffffff;

  background-color: rgb(238, 54, 67);
}

.pagination-item-current .btn-paginator:hover,
.pagination-item-current .btn-paginator:active,
.pagination-item-current .btn-paginator:focus {
  background-color: rgb(238, 54, 67);
  border: 1px solid rgb(238, 54, 67);
  cursor: pointer;
}

.pagination-item-current .btn-paginator {
  border: 1px solid rgb(238, 54, 67);
}

/*Модальные окна*/

.modal-add {
  position: fixed;
  top: 420px;
  left: 50%;
  z-index: 50;

  display: none;
  width: 620px;

  font-size: 0;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.red-line {
  height: 7px;

  background-color: #ee3643;
}

.modal-title {
  margin-top: 67px;
  margin-bottom: 67px;
  padding-right: 120px;
  padding-left: 100px;
}

.modal-add h2 {
  position: relative;

  margin: 0;
  padding: 0;
  padding-left: 63px;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: none;
}

.modal-add h2::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;

  width: 70px;
  height: 70px;

  background: url("../img/form-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-close {
  position: absolute;
  top: 17px;
  right: 10px;
  z-index: 50;

  width: 21px;
  height: 21px;

  font-size: 0;
  vertical-align: middle;

  background: url("../img/extit-red-popup.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  cursor: pointer;
}


.added-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 37px 80px;

  background-color: #f1f1f1;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.added-items a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;

  text-align: center;
  text-decoration: none;

  border: 0;
  border-radius: 3px;
}

.added-items .btn-right {
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.added-items .btn-right:hover {
  border: 1px solid rgb(189, 198, 202);
}

.added-items .btn-right:active {
  border: 1px solid rgb(238, 54, 67);
}

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;

  display: none;
  width: 940px;
  height: 446px;

  background: url("../img/popup-map.jpg");
  -webkit-box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
          box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-letter {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;

  display: none;
  width: 620px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-wrapper {
  padding: 45px 80px 35px;
}

.btn-submit-wrapper {
  padding: 36px 80px;

  background-color: #f4f4f4;
}

.modal-letter .btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-top: 11px;

  border: 0;
  border-radius: 3px;
}

.letter-form h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
}

.letter-form label {
  display: inline-block;
  margin-bottom: 15px;

  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
}

.letter-form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 14px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal-letter textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 14px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal-letter .appoitment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-line-pack: justify;
  -ms-flex-pack: justify;
}

.modal-letter .appoitment-field {
  width: 220px;

  border-radius: 3px;
}

.letter-form input:focus,
.letter-form textarea:focus {
  border: 2px solid #a9a9a9;
  outline: 0;
}

.modal-letter input::-webkit-input-placeholder {
  color: #a9a9a9;;
}

.modal-letter input:-ms-input-placeholder {
  color: #a9a9a9;;
}

.modal-letter input::-ms-input-placeholder {
  color: #a9a9a9;;
}

.modal-letter input::placeholder {
  color: #a9a9a9;;
}

.btn-submit-wrapper .btn:active {
  background-color: #ba2732;
  outline: none;
}

.btn-submit-wrapper .btn:focus {
  outline: 1px solid #a9a9a9;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
